.nav-tabs>li>a {
	font-size: 1.1em;
	padding: 10px 15px;
	color: #002878;
}

.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus
	{
	font-weight: 600;
	background-color: #ffffff;
	border: 1px solid #ddd;
	border-top: 3px solid #4f8db3;
	border-bottom-color: transparent;
	cursor: default;
}

.mainmenu li.logo-wrapper a {
	border-right: 1px solid #E8E8E8;
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.mainmenu-wrapper {
	background-color: #FFF;
	border-bottom: 4px solid #4f8db3;
	z-index: 4;
}

.mainmenu {
	width: 100%;
	/* general ul style */
	/* first level ul style */
	/* sub-menu */
}

.mainmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.mainmenu>ul, .mainmenu .mainmenu-submenu-inner {
	margin: 0 auto;
}

.mainmenu>ul>li, .mainmenu .mainmenu-submenu-inner>li {
	display: inline-block;
	*display: inline;
}

.mainmenu>ul>li>a, .mainmenu .mainmenu-submenu-inner>li>a {
	font-size: 1.2em;
	padding: 1.2em 1.5em;
	color: #999;
	display: inline-block;
	text-decoration: none;
}

.mainmenu>ul>li>a:hover, .mainmenu .mainmenu-submenu-inner>li>a:hover {
	color: #4f8db3;
	text-decoration: none;
}

.mainmenu>ul>li.active>a, .mainmenu .mainmenu-submenu-inner>li.active>a
	{
	color: #4f8db3;
	font-weight: 600 !important;
}

.mainmenu>ul>li.mainmenu-open a, .mainmenu .mainmenu-submenu-inner>li.mainmenu-open a,
	.mainmenu>ul li.mainmenu-open>a:hover, .mainmenu .mainmenu-submenu-inner li.mainmenu-open>a:hover
	{
	color: #fff;
	background: #4f8db3;
}

.mainmenu .mainmenu-submenu {
	display: none;
	position: absolute;
	background: #4f8db3;
	width: 100%;
	left: 0;
	z-index: 999;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-o-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
	color: 0 5px 5px rgba(0, 0, 0, 0.4);
}

.mainmenu .mainmenu-submenu-inner>div {
	width: 33%;
	float: left;
}

.mainmenu .mainmenu-submenu-inner:before, .mainmenu .mainmenu-submenu-inner:after
	{
	content: " ";
	display: table;
}

.mainmenu .mainmenu-submenu-inner:after {
	clear: both;
}

.mainmenu .mainmenu-submenu-inner>div a {
	line-height: 2em;
}

.mainmenu-open .mainmenu-submenu {
	display: block;
	padding-bottom: 3em;
}

.mainmenu-submenu h4 {
	color: #bad2e1;
	padding: 1em 0 0.6em;
	margin-left: 20px;
	font-size: 160%;
	font-weight: 300;
}

.mainmenu-submenu ul {
	margin-left: 20px;
}

@media screen and (max-width: 979px) {
	.mainmenu {
		font-size: 0.8em;
	}
	.mainmenu-submenu {
		font-size: 1.2em;
	}
	.mainmenu-submenu li, .mainmenu-submenu h4 {
		padding-left: 10px;
	}
	/* Make Navigation Toggle on Desktop Hover */
	.dropdown:hover .dropdown-menu {
		display: block;
	}
}

@media screen and (max-width: 479px) {
	.mainmenu {
		font-size: 120%;
		border: none;
	}
	.mainmenu>ul, .mainmenu .mainmenu-submenu-inner {
		width: 100%;
		padding: 0;
	}
	.mainmenu .mainmenu-submenu-inner {
		padding: 0 1.5em;
		font-size: 75%;
	}
	.mainmenu>ul>li {
		display: block;
		border-bottom: 4px solid #47a3da;
	}
	.mainmenu>ul>li>a {
		display: block;
		padding: 1em 3em;
	}
	.mainmenu>ul>li:last-child {
		border: none;
	}
	.mainmenu .mainmenu-submenu {
		position: relative;
	}
	.mainmenu-submenu h4 {
		padding-top: 0.6em;
	}
	.mainmenu .mainmenu-submenu-inner>div {
		width: 100%;
		float: none;
		padding: 0;
	}
}